<h1>Editing Multimedium</h1>

<%= render 'form', multimedium: @multimedium, multimedia_types: @multimedia_types %>

<%= link_to 'Show', [@event,@multimedium] %> |
<%= link_to 'Back', event_multimedia_path %>
