<p id="notice"><%= notice %></p>

<p>
  <strong>Multimedia type:</strong>
  <%= @multimedia_type.multimedia_type %>
</p>

<%= link_to 'Edit', edit_multimedia_type_path(@multimedia_type) %> |
<%= link_to 'Back', multimedia_types_path %>
